body {
  background-image: linear-gradient(
    100deg,
    rgb(150, 149, 149),
    rgb(184, 169, 169)
  );
}
.box {
  position: relative;
  left: 25%;
  top: 100px;
  height: 400px;
  width: 700px;
  background-color: thistle;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(3, 3, 3, 0.2),
    0 6px 20px 0 rgba(12, 12, 12, 0.19);
}
.line {
  background-color: white;
  height: 400px;
  width: 2px;
  float: left;
}
.inpt {
  background-color: black;
  position: relative;
  padding: 5px;
  height: 40px;
  width: 300px;
  border-radius: 5px;
  color: rgb(163, 159, 159);
  top: 30%;
  left: 10%;
  margin-bottom: 20px;
  border: 1px solid white;
  box-shadow: 3px 4px;
}
#button {
  background-color: black;
  height: 40px;
  width: 80px;
  color: white;
  position: relative;
  top: 30%;
  left: 10%;
  float: left;
  box-shadow: 3px 4px rgb(104, 102, 102);
  border-radius: 5px;
}
a:hover {
  font-size: 20px;
}
.img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
}
